
{% include "components/head.html" %}
{% include "components/navbar.html" %}

<div class="container-fluid ikake-jumbotron d-flex flex-column">
    <div class="container d-flex flex-grow-1 justify-content-center align-items-center">
        <h1 class="display-5">HOLA 👋.</h1>
    </div>
</div>

<div class="container-fluid racoon-library">
    <div class="container p-2 racoon-container-library">
        {% include "components/searcher.html" %}
        <div class="row p-4">
            {% if books %}
                {% for current_book in books %}
                    {% set book = current_book %}
                    {% include "components/book_card.html" %}
                {% endfor %}
            {% else %}
            <div class="text-center">
                <p class="text-muted">
                    <img src="{{ url_for('static', filename='images/logos/ikawe-shape.png') }}"
                        height="126" alt="">
                </p>
                <h2>Lo que estás buscando no está aqui...</h2>
            </div>
            {% endif %}
        </div>
        {% include "components/pagination.html" %}
    </div>
</div>

{% include "components/footer.html" %}
