
.ikawe-index-jumbo {
    margin-top: -140px;
    min-height: 80vh;
    padding-top: 20vh;
    background-image: url(../images/page-header.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.ikawe-light-jumbo {
    background: #00162b;
    padding: 50px;
    color: white;
}

.hive-profile {
    background: #023047;
    padding-top: 12em;
    padding-bottom: 12em;
}

.ikawe-elegance-jumbo {
    background-color: #fffbf7;
    color: black;
    padding: 100px;
}

.racoon-index-login {
    margin-top: -20vh;
}

input::placeholder {
  opacity: 0.3!important;
}


.ikake-jumbotron {
    background: #023047;
    height: 400px;
    color: #fff;
} 

.ikake-jumbotron h1 {
    font-weight: bolder;
    margin-top: -100px;
}

.ikake-jumbotron-title {
    height: 400px;
    margin-top: -400px;
    backdrop-filter: blur(20px);
    color: #fff;
    padding-top: 50px;
}

.ikake-jumbotron-content {
    position: relative;
    z-index: 99;
}

.ikake-jumbotron-books {
    text-align: center;
}

.racoon-library {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.racoon-container-library {
    padding: 30px;
    box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.1);
    margin-top: -180px;
    background-color: #fff;
}

.racoon-img-responsive{
    height: 99%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.racoon-card-title h5 {
    color:#023047;
    max-height: 75px;
    word-break: break-word;
}

.racoon-card-title h6 {
    color:#fb8500;
    word-break: break-all;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 10px;
}

.racoon-btn-link {
    color: #023047;
}

.racoon-btn-link:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.racoon-btn-success {
    background-color: rgb(148, 255, 196);
    color: black;
    border-radius: 0%;
    border: 1px solid rgb(148, 255, 196);
}

.racoon-btn-success:hover {
    background-color: black;
    color: white;
    border-radius: 0%;
    cursor: pointer;
    border: 1px solid rgb(148, 255, 196);
}

.racoon-btn-success-light {
    background-color: black;
    color:  rgb(148, 255, 196);
    border-radius: 0%;
}

.racoon-btn-success-light:hover {
    background-color:  rgb(148, 255, 196);
    color: black;
    border-radius: 0%;
    cursor: pointer;
    border: 1px solid black;
}

.ikawe-btn-link-light {
    color:  rgba(148, 255, 196, 0.862);
    text-decoration: none;
}

.ikawe-btn-link-light:hover {
    cursor: pointer;
    color:  rgb(148, 255, 196);
    text-decoration: underline;
}

.ikawe-badge {
    background-color: rgb(148, 255, 196);
    color: black;
    border-radius: 0%;
    font-weight: inherit;
}

/** ------- NAV STYLE  ------- */


.hive-nav-light {
    background-color: #ffffffa1!important;
    backdrop-filter: blur(3px);
    margin: 15px 15px;
    border-radius: 5px;
    z-index: 100;
}


/** ------- BOOK DETAIL STYLE  ------- */

.hive-detail-jumbo {
    margin-top: -140px;
    min-height: 55vh;
    padding-top: 20vh;
}



/** ------- CARD STYLE  ------- */

.hive-card {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.hive-card-head {
    text-align: center;
}

.hive-card-head .hive-card-image {
    height: 260px;
    width: 175px;
    margin-top: -1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6); 
}

.hive-card-body {
    text-align: center;
}

.hive-card-body h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: smaller;
}

.hive-card-body h6 {
    color: rgb(76, 76, 76);
    font-size: smaller;
}

.hive-card-footer {
    margin-left: -12px;
    margin-right: -12px;
    background: #023047;
    text-align: center;
}

.hive-card-footer a{
    color:#fff;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

.hive-card-footer a:hover{
    color:#dedd46;
}