
{% include "components/head.html" %}
{% include "components/navbar.html" %}

<div class="container-fluid d-flex flex-grow-1 justify-content-around align-items-center hive-profile">

    <div class="card col-5">
      <div class="row no-gutters">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img height="126" alt="" src="{{ url_for('static', filename='images/logos/tardrigrado.svg') }}">
        </div>
        <div class="col-md-6">
            <div class="card-body">
            <h5 class="card-title">Gestion de Libros</h5>
            <p class="card-text">Agrega o elimina de tu lista los libros que has leido, favoritos ... etc</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-5">
      <div class="row no-gutters">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img height="126" alt="" src="{{ url_for('static', filename='images/avatares/'+ g.user.avatar) }}">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Hola <strong>{{g.user.username}}</strong></h5>
            <p class="card-text">Desde aqui puedes configurar tu información personal y gestionar tu cuenta.</p>
            <a href="{{ url_for('profile_bp.page_update_profile') }}" class="btn btn-primary">Editar Perfil</a>
          </div>
        </div>
      </div>
    </div>

</div>

{% include "components/footer.html" %}
