
<div class="card m-2 mb-4 mt-4 hive-card" id="book_{{ book._id }}" style="width: 13rem;">
    <div class="hive-card-head">
        <a href="{{ url_for('dashboard_bp.page_book', book_id=book['_id']) | safe }}">
        {% if book.cover %}
            <img class="hive-card-image" src="data:image/png;base64, {{ book.cover }}"
                 alt="{{ book.book }}">
        {% else %}
            <img class="hive-card-image" src="{{ url_for('static', filename='images/no_cover.png') }}"
                 alt="{{ book.book }}">
        {% endif %}
        </a>
    </div>
    <div class="card-body hive-card-body">
        <h5> {{ book.book }} </h5>
        <h6> {{ book.author }} </h6>
    </div>
    <div class="card-footer hive-card-footer">
        <a href="{{ url_for('dashboard_bp.page_book', book_id=book['_id']) | safe }}"
           class="p-2"> Descargar </a>
    </div>
</div>