        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item">
                        <a href="{{ url_for('main')}}"
                           class="nav-link px-2 text-muted">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('dashboard_bp.page_dashboard')}}"
                           class="nav-link px-2 text-muted">Libreria</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acerca de</a></li>
                </ul>

                <p class="text-center text-muted">
                    <img src="{{ url_for('static', filename='images/logos/inscripto-logo.svg') }}"
                        height="36" alt=""> © 2024 INSCRiPTO, Inc</p>
            </footer>
        </div>
    </body>
</html>

