

<div class="bg-light p-3 mb-4">
    <div class="container">
        <form id="frmBookSearcher" method="POST" action="{{ url_for('search_bp.search') }}">
            <div class="d-flex justify-content-between">
              <div class="p-2 w-100">
                  <input class="form-control" id="keywords" name="keywords" placeholder="Nombre de Libro, Autor...">
              </div>
              <div class="p-2">
                   <button type="submit" class="btn racoon-btn-success">
                       <i class="fa-solid fa-magnifying-glass"></i>
                   </button>
              </div>
              <div class="p-2">
                   <a class="btn racoon-btn-success" id="btnRefresh">
                       <i class="fa-solid fa-arrows-rotate"></i>
                   </a>
              </div>
              <div class="p-2">
                   <a class="btn btn-warning" id="btnFavorite">
                       <i class="fa-regular fa-star"></i>
                   </a>
              </div>
            </div>
        </form>
        <script>
            document.getElementById('frmBookSearcher').addEventListener('submit', function(event) {
                var keywordsInput = document.getElementById('keywords');
                if (!keywordsInput.value.trim()) {
                    event.preventDefault();
                    showToast('info','Es necesario informar un valor de búsqueda valido')
                }
            });

            document.getElementById("btnRefresh").addEventListener("click", function() {
                location.reload();
            });
        </script>
    </div>
</div>