

<div class="bg-light p-3">
    <div class="container">
        <form method="POST" action="{{ url_for('search_bp.search') }}">
            <div class="d-flex justify-content-between">
              <div class="p-2 w-100">
                  <input class="form-control" id="keywords" name="keywords" placeholder="Nombre de Libro, Autor...">
              </div>
              <div class="p-2">
                   <button type="submit" class="btn racoon-btn-success">
                       <i class="fa-solid fa-magnifying-glass"></i>
                   </button>
              </div>
              <div class="p-2">
                   <button class="btn racoon-btn-success">
                       <i class="fa-solid fa-arrows-rotate"></i>
                   </button>
              </div>
            </div>
        </form>
    </div>
</div>