{% include "components/head.html" %}
{% include "components/navbar.html" %}

<div class="container-fluid  ikake-jumbotron"
     style="background-image: url('data:image/png;base64, {{ book.cover }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;">
</div>

<div class="container-fluid ikake-jumbotron-title"  style="z-index: 1">
    <div class="container" style="z-index: 10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="ikawe-btn-link-light" href="{{ url_for('main') | safe }}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a class="ikawe-btn-link-light" href="{{ url_for('dashboard_bp.page_dashboard') | safe }}">Librería</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ book.book }}</li>
          </ol>
        </nav>
    </div>
    <div class="container text-center">
        <h1 class="display-5">{{book.book}}.</h1>
    </div>
</div>

<form method="POST" action="/admin/edit/book/{{book.book_id}}">
    <div class="container-fluid ikake-jumbotron-content">
        <div class="container p-4 racoon-container-library">
            <div class="row">
                {% if form_ok %}
                    <div class="row p-3">
                        <div class="alert alert-success" role="alert">
                            {{ form_ok }}
                        </div>
                    </div>
                {% endif %}
                {% if form_error %}
                    <div class="row p-3">
                        <div class="alert alert-warning" role="alert">
                            {{ form_error }}
                        </div>
                    </div>
                {% endif %}
                <h2><span class="fw-lighter">Editar:</span> {{book.book}}</h2>
            </div>
            <div class="row p-2">
                <label for="book-title" class="form-label">Titulo</label>
                <input type="text" class="form-control" name="book-title" id="book-title" value="{{ book.book }}">
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="book-author" class="form-label">Autor</label>
                    <input type="text" class="form-control" name="book-author" id="book-author" value="{{ book.author }}">
                </div>
                <div class="col-4">
                    <label for="book-theme" class="form-label">Temática</label>
                    <input type="text" class="form-control" name="book-theme" id="book-theme" value="{{ book.theme }}">
                </div>
                <div class="col-4">
                    <label for="book-year" class="form-label">Año</label>
                    <input type="text" class="form-control" name="book-year" id="book-year" value="{{ book.year }}">
                </div>
            </div>
            <div class="row p-4">
                <div class="col-8">
                    <textarea class="form-control" name="book-summary" id="book-summary" rows="15" cols="50">{{ book.summary }}</textarea>
                </div>
                <div class="col-4 text-center">
                    <p>
                        {% if book.cover %}
                            <img src="data:image/png;base64, {{ book.cover }}" width="250" alt="{{ book.book }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/no_cover.png') }}"
                                 width="270" class="" alt="{{ book.book }}">
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="col-2 p-1">
                    <button type="submit" name="action" value="edit" class="btn btn-primary btn-lg btn-block">Actualizar</button>
                </div>
                 <div class="col-2 p-1">
                     <button type="submit" name="action" value="delete" class="btn btn-danger btn-lg btn-block">Eliminar</button>
                 </div>
            </div>
        </div>
    </div>
</form>

{% include "components/footer.html" %}
